html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(215, 210, 210);
}

.container{
    display: flex;
    flex-direction: column;
    height: 90%;
}

.container .column{
    height: 100%;
    flex: 1;
    display: flex;
}

.container .row{
    border: 0.5px solid black;
    height: 100%;
    flex: auto;
    transition: box-shadow 0.4s ease-in;
}

.container .row:hover{
    box-shadow: 0 0 8px rgb(5, 63, 145);
    transition: box-shadow 0.1s ease-out;
}

.buttons{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(52, 52, 52);
}

.buttons .color:hover{
    animation: rainbow 2s linear infinite;
    background: rgb(237, 108, 108);
}

.buttons button{
    border: 3px solid white;
}

@keyframes rainbow{
    0% { background-color: rgb(237 108 108); }
  20% { background-color: rgb(246, 199, 111); }
  40% { background-color: rgb(250, 210, 69); }
  50% { background-color: rgb(146, 226, 61); }
  70% { background-color: rgb(102, 210, 237); }
  80% { background-color: rgb(192, 123, 242); }
  90% { background-color: violet; }
  100% {background-color: rgb(237, 108, 108);}
}

.buttons .color1:hover{
    background: green;
    color: azure;
}

.buttons .color2:hover{
    background: red;
    color: azure;
}

.buttons .color3:hover{
    background: purple;
    color: azure;
}

.buttons .color4:hover{
    background: pink;
}

.buttons .color5:hover{
    background: rgb(58, 174, 242);
}

.buttons .color6:hover{
    background: orange;
}

.buttons .color7:hover{
    background: yellow;
}

.buttons .color8:hover{
    background: black;
    color: azure;
}